<% if (typeof messages !== 'undefined'){ %>
  <% if(messages.validation_errors){ %>
  <br />
  <div class="alert alert-danger">
    <% messages.validation_errors.forEach(error => { %> <%= error.msg %><br />
    <% }) %>
  </div>
  <% } %>
<% } %>